<% layout("/layouts/boilerPlate") %>

    <h1 class="mt-3">All Listings</h1>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
          <% allListings.forEach(listing => { %>

        <a style="text-decoration: none;"href="/listings/<%= listing._id %>">
    <div class=" card listing-card col" >
  <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img"style="height:20rem;">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
        <b><%= listing.title %> </b><br> &#8377;<%= listing.price.toLocaleString("en-in") %> /night</p>

  </div>
</div>
</a>
<% }) %>

    </div>
    
   

